body{
    background-color: lightgray;
}

.warna1{
    background-color: #E26A2C;
}

.warna2{
    background-color: #FF8243;
}

.warna3{
    background-color: #FDA65D;
}

.warna4{
    background-color: #FFD07F;
}